{{define "base"}}
<!DOCTYPE html>
<html lang='en'>
    <head>
    <meta charset='utf-8'>
    <title>{{template "title" .}} | Snippetbox</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<header>
<h1><a href='/'>Snippetbox</a></h1>
</header>
<nav>
<a href="/">Home</a>
</nav>
<main>
<section>
{{template "body" .}}
</section>
</main>
</body>
</html>
{{end}}
