{{template "base" .}}

{{define "title"}}Create a New Snippet{{end}}

{{define "body"}}
<form action='/snippet/create' method='POST'>
    <input type='hidden' name="csrf_token" value="{{.CSRFToken}}">
    {{with .Form}}
    <div>
        <label for='title'>Title</label>
        {{with .Errors.Get "title"}}
        <label class='error'>{{.}}</label>
        {{end}}
        <input type='text' id='title' name='title' placeholder='Snippet Title' value='{{.Get "title"}}'>
    </div>
    <div>
        <label for='content'>Content</label>
        {{with .Errors.Get "content"}}
        <label class='error'>{{.}}</label>
        {{end}}
        <textarea id='content' name='content' placeholder='Snippet Content'>
     {{.Get "content"}}
     </textarea>
    </div>
    <div>
        <span>Delete in</span>
        {{with .Errors.Get "expires"}}
        <label class='error'>{{.}}</label>
        {{end}}
        {{$exp := or (.Get "expires") "30"}}
        <input type='radio' name='expires' value='30' id='month' {{if (eq $exp "30" )}}checked{{end}}>
        <label for='month'>1 month</label>
        <input type='radio' name='expires' value='7' id='week' {{if (eq $exp "7" )}}checked{{end}}>
        <label for='week'>1 week</label>
        <input type='radio' name='expires' value='1' id='day' {{if (eq $exp "1" )}}checked{{end}}>
        <label for='day'>1 day</label>
    </div>
    <div>
        <input type='submit' value='Create'>
    </div>
    {{end}}
</form>
{{end}}